singularity{
  enabled = true
  runOptions = '--bind /fs1/  --bind /local/'

}

params {
  
  refbase = "/fs1/resources/ref/hg19/"
  outdir = "/fs1/results_dev/"
  subdir = "nipt_fluffy/"
  tmp_dir = "/local/scratch/"
  //crondir = "/fs1/results_dev/cron/"
  singleEnd = false
  pairedEnd = true	

  genome_fasta = "/fs1/sima/nipt/data/ref/human_g1k_v37_decoy.fasta" 
  genome_gc = false
 
  
  //wisecondorx: All these files are given by Jesper
  ref500kbp="/fs1/sima/nipt/data/fixtures/WisecondorX_500000bp_Paired.npz"
  testbinsize=500000
  ref100kbp="/fs1/sima/nipt/data/fixtures/WisecondorX_100000bp_Paired.npz"
  prefacebinsize=100000
  blacklist="/fs1/sima/nipt/data/fixtures/blacklist.bed"
  zscore=1.5
  model="/fs1/sima/nipt/data/fixtures/PREFACE_AMYCNE_2500_50kbp_10mapq_100kbp_wcx.txt.model.olm/model.RData"
  gctab = "/fs1/resources/ref/hg19/nipt/genome.gc.tab"
}

process {
  executor='slurm'
  queue='normal'
  time=96.h
  }



